<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="maintenance.css">
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <title>Basic Car Maintenance</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark py-3">
        <section class="container-fluid">
          <a class="navbar-brand" href="#">Clutch</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <section class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a href="/resources" class="nav-link">Must Have's</a>
              </li>
              <li class="nav-item">
                <a href="/maintenance" class="nav-link">How To's</a>
              </li>
              <li class="nav-item">
                <a href ="lights" class="nav-link">Why did a light on the dashboard appear?</a>
              </li>
              <li class="nav-item">
                <a href ="/login" class="nav-link" >Login</a>
              </li>
            </ul>

    
          </section>
        </section>
      </nav>
      <div class ="bg-dark h-100">
          <div class = "row">
              <div class ="col-sm-8">

                <div class="d-flex align-items-start">
                    <div class=" mx-3 nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                      <button class="nav-link active" id="v-pills-tires-tab" data-bs-toggle="pill" data-bs-target="#v-pills-tires" type="button" role="tab" aria-controls="v-pills-tires" aria-selected="true">How To Change A Tire</button>
                      <button class="nav-link" id="v-pills-battery-tab" data-bs-toggle="pill" data-bs-target="#v-pills-battery" type="button" role="tab" aria-controls="v-pills-battery" aria-selected="false">How To Jumpstart A Battery</button>
                      <button class="nav-link" id="v-pills-wipers-tab" data-bs-toggle="pill" data-bs-target="#v-pills-wipers" type="button" role="tab" aria-controls="v-pills-wipers" aria-selected="false">How To Change Your Windshield Wipers</button>
                      <button class="nav-link" id="v-pills-fluid-tab" data-bs-toggle="pill" data-bs-target="#v-pills-fluid" type="button" role="tab" aria-controls="v-pills-fluid" aria-selected="false">How To Check Fluid Levels</button>
                    </div>
                    <div class="tab-content" id="v-pills-tabContent">
                      <div class=" mx-5 tab-pane fade show active" id="v-pills-tires" role="tabpanel" aria-labelledby="v-pills-tires-tab"><h2>How To Change A Flat Tire</h2><p>A flat tire typically shows up unexpectedly and catapults itself onto the top of your priority list. A flat tire can happen to anyone at any time. It doesn’t matter if you were already running late or if you’re wearing a cocktail dress. Regardless of your situation, the basic mechanics of changing a tire are the same whether you’re working with a car, truck, van, or SUV. Below, I’ve broken down how to change a tire in 10 simple steps.</p>

                        <h3>1. FIND A SAFE PLACE TO PULL OVER</h3>
                        <span>How to change a tire - park safely</span>
                        
                        
                        <p>The ground should be solid and level to keep your car from rolling. If you’re on the side of the road, pull over as far possible. Avoid stopping near any bends in the road, as this reduces visibility for both you and other drivers. If you’re in a dark or unsafe area, carefully drive to a better spot.</p>
                        
                        <h3>2. USE YOUR HAZARD LIGHTS AND PARKING BRAKE</h3>
                         <p>Use your hazard lights and parking brake to keep yourself and your vehicle safe by increasing your visibility and decreasing the vehicle’s ability to roll.</p>
                        
                        <h3>3. CHECK FOR MATERIALS</h3>
                        <p>At the bare minimum, you’ll need a jack, wrench, and a spare tire. These three items should always be in your vehicle just in case a flat tire occurs. Additional items that can make tire changing a little easier include:</p><ul>
                        
                        <li>Flashlight</li>
                        <li>Gloves</li>
                        <li>Mat for kneeling</li>
                        <li>Rain poncho</li>
                        <li>Tire gauge</li>
                        <li>Your vehicle’s owner’s manual</li>
                        </ul>
                        <h3>4. LOOSEN THE LUG NUTS</h3>
                        <p>If your vehicle has a wheel cover (also known as a hubcap), pry it off. Then, secure the wrench onto a lug nut, and turn it counterclockwise to loosen it. Repeat this process with each lug nut, making sure each one is loose enough to turn by hand.</p>
                        
                        <h3>5. LIFT YOUR VEHICLE OFF THE GROUND</h3>
                        <p>How to change a tire - use your jack properlyPlace the jack under the metal portion of your vehicle’s frame. Do not place the jack where it will have contact with any plastic molding. The best jack placement differs depending on the vehicle. Consulting your owner’s manual is the best way to learn proper jack placement. Once properly placed, use the jack to raise the tire you’re changing off of the ground. Ensure the jack stays perpendicular to the ground at all times.</p>
                        
                        <h3>6. REMOVE THE LUG NUTS AND THE TIRE</h3>
                        <p>How to change a tire - remove lug nutsTurn the lug nuts counterclockwise until they are all very loose. Next, remove them completely. Keep the lug nuts all together in a safe spot, as you’ll need them to secure the replacement tire. With the lug nuts removed, there is nothing keeping your tire attached to the vehicle. Securely grip your tire and pull it directly toward your body.</p> 
                        
                        <h3>7. PLACE THE SPARE TIRE ON THE CAR</h3>
                        <p>Line up the holes in the spare with the lug nut posts and place the spare on the wheelbase. Push the spare as far onto the wheelbase as possible.</p>
                        
                        <h3>8. REPLACE THE LUG NUTS</h3>
                        <p>Put the lug nuts on so the spare tire stays put. Don’t tighten them all the way just yet. It’s very important to tighten your lug nuts in a way that keeps the tire even.</p>
                        
                        <h3>9. LOWER YOUR VEHICLE AND BEGIN TIGHTENING</h3>
                        <p>Using the jack, slowly lower your vehicle until your spare tire starts touching the ground. This holds the tire in place as you begin tightening the lug nuts. Tighten the lug nuts in increments, alternating every-other nut. For example, if you assign a number to each lug nut, tighten in this order: 1, 3, 5, 2, 4, 1, 3, 5, 2, 4, and repeat. This way you’ll keep the tire on straight.</p>
                        <h3>10. LOWER YOUR VEHICLE COMPLETELY AND FINISH TIGHTENING</h3>
                        <p>Once the lug nuts feel equally tight, completely lower your vehicle to the ground. Once grounded, you may be able to tighten the lug nuts a little bit further. Continue your tightening in the same incremental order until they no longer budge.</p>
                        <h3>EXTRA TIPS FOR HOW TO CHANGE A TIRE</h3>
                        <p>Finish up by putting your old tire in the trunk and cleaning up any tools you used. Depending on what’s wrong with it, your old tire might be salvageable. Bring it to a trusted mechanic who can test and possibly repair it. Otherwise, you’ll need to invest in a new spare, which should be done immediately. It’s never a good idea to operate a vehicle without a spare tire; make sure to pre-check your spare tire and parts to make sure it is ready to use in case of an emergency.</p></div>
                      <div class="mx-5 tab-pane fade" id="v-pills-battery" role="tabpanel" aria-labelledby="v-pills-battery-tab"><h2>How To Jump Start A Battery</h2><p>If your car battery has died, you may be able to use jumper cables to jump start it with the help of some good Samaritan’s vehicle. If you can safely use jumper cables on your vehicle, make sure that the battery on the good Samaritan’s vehicle has at least as much voltage as your own. As long as you hook up the cables properly, it doesn’t matter whether your vehicle has negative ground and the other vehicle has positive ground, or your vehicle has an alternator and the other vehicle has a generator.</p>
                        <img src="jumpercables.jpeg" alt="cables">
                
                        
                       <p> To safely jump start, follow these steps:</p><ol>
                        
                        <li>Take out your jumper cables.</li>
                        
                        <p>It’s a good idea to buy a set of jumper cables and keep them in the trunk compartment. If you don’t have jumper cables, you have to find a kind stranger who not only is willing to assist you, but who has jumper cables as well.</p>
                        
                        <li>Place both vehicles in Park or Neutral and shut off the ignition in both cars.</li>
                        
                        <li>Engage both parking brakes as well.</li>
                        
                        <li>Attach one of the red clips to the positive terminal of your battery.</li>
                        
                        <li>It has “POS” or “+” on it, or it’s bigger than the negative terminal.</li>
                        
                        <li>Attach the other red clip to the positive terminal of the other car.</li>
                        
                        <li>Attach one of the black clips to the negative terminal on the other battery.</li>
                        
                        <li>Attach the last black clip to an unpainted metal surface on your car that isn’t near the battery.</li>
                        
                        <li>Use one of the metal struts that holds the hood open.</li>
                        
                        <p>The cables should look like this.</p>

                        <img src="connect.jpeg" alt="cables">
                        
                       <p> To jump start a car, you'll need to make sure you connect the jumper cables in the proper order.
                        Make sure to connect jumper cables in the proper order.
                        Start the working vehicle and let the engine run for a few minutes.</P>
                        
                        <li>Try to start your vehicle.</li></ol>
                        
                        <p>If it won’t start, make sure that the cables are properly connected and have the other person run their engine for five minutes. Then try to start your car again. If it still won’t start, your battery may be beyond help.</p>
                        
                       <p> If the jump works and your car starts, don’t shut off your engine! Drive around for at least 15 minutes to recharge your battery. If the car won’t start the next time you use it, the battery isn’t holding a charge and needs to be replaced.</p></div>
                      <div class="mx-5 tab-pane fade" id="v-pills-wipers" role="tabpanel" aria-labelledby="v-pills-wipers-tab"><h2>How To Change Windshield Wiper Blades</h2><p><h3>1. Remove new blades from packaging and have them at the ready.</h3><p> The wiper arm is metal, and when you remove the old blade, it’s best to have the new one ready right away so you can immediately replace it. You don’t have want to have to fiddle with packaging and have your wiper arm fall or be knocked onto your windshield, possibly scratching or cracking it. That’s not terribly likely, but it is possible.</p>
                        <h3>2. Lift the wiper, turn the blade perpendicular to the arm, and locate the release tab.</h3><p><img src ="blade2.jpg"><p>Not all wipers will have this release tab. On some, you’ll simply turn the blade perpendicular, and pull down.</p></p>
                        <h3>3. Press the tab and pull the blade down.</h3><p>Your instinct might be to yank up; don’t do that. You won’t damage anything, it’s just not going to get your blade off.</p>
                        <h3>4. Next, turn the blade parallel to the arm, and pull it off.</h3><p>It’s that easy! Seriously.</p><img src="blade3.jpg"><p>From here, it easily slides off (to the right). </p>
                        <h3>5. Repeat this process, in reverse, to install the new blade. </h3><p>Start parallel to the arm, thread it into the slot, then turn it perpendicular, and finally pull it slightly up to lock it in place. You should hear some sort of audible click, or at least feel that it’s snapped in, to confirm that the blade is now properly installed. </p><img src="blade5.jpg"><p>The new blade. This one has a swiveling part that the hook latches into. How the blade actually snaps into place might be different from your old one; don’t worry, I’d never done it before and figured it out just fine.</p>
                        <h3>6. Test out with windshield wiper fluid. </h3><p>Give your windshield a squirt and test out the new blades. Then, be impressed with yourself, and slightly embarrassed that you’ve never done this incredibly simple DIY car maintenance task before. (Yes, I’m talking to myself here.)</p>
                        </div>
                      <div class="mx-5 tab-pane fade" id="v-pills-fluid" role="tabpanel" aria-labelledby="v-pills-fluid-tab"><h2>How To Check Fluid Levels</h2><p>Every car uses a variety of different fluids to keep its different systems working. Being able to check your car's fluid levels is a good skill to have. By checking the fluids you are not only checking the fluid level, but also their condition, which can help prevent issues and costly repairs further down the road. This guide from YourMechanic will explain how to check the various fluids in your car.</p><h3>Step 1: Consult Your Owner's Manual</h3><p>The owner's manual is the first thing to look at before checking your car's fluids. It will give you instructions and illustrations specific to your particular vehicle, as well as:<ul>

                        <li>How to read the various dipsticks and reservoir fill lines</li>
                        <li>Types and brands of fluid the manufacturer recommends</li>
                        <li>Locations of different fluid tanks and reservoirs</li>
                        <li>Conditions for checking fluids</li>
                        <li>The process of checking fluids can vary significantly between different vehicles, so consulting the owner's manual for your car is the best place to start.</li></ul></p>
                        <h3>Step 2: Setting Up
                        </h3><p>There are a few items you'll need to gather and steps you'll need to take before checking your car's fluids.</P>

                           <span>You will need:</span> <ul>
                          
                          <li>Clean rags</li>
                          <li>Funnels</li>
                          <li>Fluid catch pans</li>
                          <li>Rubber or latex gloves</li>
                          <li>Protective glasses</li>
                          <li>Supplies of new fluids you may need to top up</li></ul>
                          <span>To set up, you should:</span><ol>
                          
                          <li>Park on a flat, level surface. This will ensure accurate fluid level measurements.</li>
                          <li>Engage the parking brake to prevent the car from moving.</li>
                          <li>Open the hood and prop it open.</li></ol>
                         <p> Now that you've consulted the owner's manual and have set up, you're ready to begin checking your car's fluids.</p>
                        <h3>Step 3: Check the Engine Oil</h3><p>Engine oil is probably the most common and most important fluid in keeping your engine running well (after fuel). Always refer to your owner's manual for the correct procedures and operating conditions for checking your car's oil level. Most cars have a dipstick used for checking the engine oil.<p><ol>

                          <li>Locate the dipstick. Dipsticks usually have a yellow or orange handle.
                          <li>Pull out the dipstick.</li>
                         <li>Wipe off the dipstick with a clean rag.</li>
                          <li>Push the dipstick all the way back in, then pull it out again.</li>
                           <li>Examine the oil level. Holding the dipstick in a horizontal position, look at where the oil is on the dipstick. It should be between the upper and lower indicator marks. If it's below the lower indicator mark, more oil needs to be added. If it's above the upper indicator mark, some oil needs to be drained.</li>
                          <p>If the oil is between the indicator marks, it means the level is correct, and you can push the dipstick all the way back in to finish the job.</p>
                          
                          <p>It's more common that the oil level is too low than too high. If this is the case, add more oil to your car's engine. Always pour oil into the oil filler cap on the engine, and never attempt to pour oil into the dipstick hole. Use the steps above to gradually add to and check the oil level in your engine.</p>
                        <h3>Step 4: Check the Transmission Fluid
                        </h3><p>There are fewer and fewer cars that need transmission fluid checks, or even have a dipstick to check the fluid. Many new cars are equipped with lifetime fluid that's intended to never be checked. However, knowing how to check transmission fluid is still an important skill.</p>

                          <p>The process is similar to checking engine oil, however the engine will usually be turned on and warmed up, and the transmission will be in park or neutral. Again, check your owner's manual for specific instructions.<p><ol>
                          
                          <li>Locate the transmission fluid dipstick.</li>
                          <li>Pull out the dipstick.</li>
                          <li>Wipe the dipstick off with a clean rag.</li>
                          <li>Push the dipstick all the way in, then pull it out again.</li>
                          <li>Examine the fluid level. The level should fall between the indicator lines</li>
                          <li>Examine the fluid color. Transmission fluid that is dark in color or smells burnt may need to be changed. If the fluid has particles in it or is a milky color, it could indicate damage within the transmission or fluid contamination.</li></ol>

                          <p>If the fluid level is low, you may be able to add more by pouring new fluid into the dipstick hole. If you suspect damage or contamination, it's best to get an inspection by a qualified mechanic.</p>
                      
                      
                      </div>
                    </div>
                  </div>
              </div>
          </div>

      </div>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>