<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A</title>
</head>
<body>
</html>

<!-- <% if(user.mechanic){%>

  <section> -->
    <!-- <h1>Mechanic</h1>
    <% for(var s=0; s<topics.length; s++) {%>
    <% const mechanicQuestionsResponses = topics[s].responses
    [{response: "some text", mechanic: false}, {response: "more text", mechanic: false}, {response: "Mechanic's answer", mechanic: true}]
            for(var t=0; t<mechanicQuestionsResponses.length; t++) {%>



    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="..." class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <% } else { %>
    <h1> Not Mechanic </h1>
  <% } %> -->

